.box {
  margin-bottom: 48px;
}

.title {
  display: block;
  margin: 16px;
  font-size: 24px;
  color: var(--light-color);
}

.list {
  display: block;
  padding-left: 16px;
}

.thumb {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.listItems {
  list-style: none;
}

.itemBox {
  display: flex;
  align-items: center;
}

.listItem {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

.span {
  color: var(--light-color);
}

.text {
  display: block;
  margin: 0;
  color: var(--light-color);
}

.icon {
  display: block;
  margin-right: 16px;
  color: var(--light-color);
}
