.box {
  margin-bottom: 48px;
}

.title {
  display: block;
  margin: 16px;
  font-size: 24px;
  color: var(--light-color);
}

.list {
  display: block;
  padding-left: 16px;
}

.thumb {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.listItems {
  list-style: none;
}

.itemBox {
  display: flex;
  align-items: center;
}

.listItem {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--light-color);
  text-decoration: none;
  outline: none;

  transition: color 500ms var(--cubic);
}

.text {
  display: block;
  margin: 0;
  color: var(--light-color);
}

.link:hover .text,
.link:focus .text {
  color: var(--acсent-color);

  transition: color 500ms var(--cubic);
}

.icon {
  display: block;
  margin-right: 8px;
  color: var(--light-color);
}

.link:hover .icon,
.link:focus .icon {
  color: var(--acсent-color);

  transition: color 500ms var(--cubic);
}
