.box {
  margin-bottom: 48px;
}

.title {
  display: block;
  margin: 16px;
  font-size: 24px;
  color: var(--light-color);
}

.thumb {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 16px;
}

.icon {
  display: block;
  margin-right: 8px;
  color: var(--light-color);
}

.text {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--light-color);
}
