@media screen and (min-width: 480px) {
  .container {
    width: 100%;
    background-color: var(--light-color);
  }
}

.container {
  display: block;
  padding: 48px 24px;
  width: 100%;
  background-color: var(--light-color);
}

.thumb {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  color: var(--dark-color);
}

.name {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  color: var(--dark-color);
}

.box {
  margin-bottom: 48px;
}

.education {
  display: block;
  font-size: 24px;
  color: var(--primary-color);
}

h4 {
  color: var(--dark-color);
}

.text {
  color: var(--dark-color);
}

.projects {
  display: block;
  font-size: 24px;
  color: var(--dark-color);
}

.goit {
  color: var(--primary-color);
}

.text > span {
  color: var(--primary-color);
}
