.box {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 48px;
  overflow: hidden;
}

.photo {
  transform: scale(1);
  cursor: pointer;

  transition: transform 350ms linear;
}

.photo:hover,
.photo:focus {
  transform: scale(1.2);

  transition: transform 350ms linear;
}
