.box {
  padding: 6px;
  margin-bottom: 48px;
}

.photo {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  outline-offset: 2px;
  outline-style: double;
  outline-width: 4px;
  outline-color: transparent;
  cursor: pointer;

  transition: outline 500ms linear;
}

.photo:hover,
.photo:focus {
  outline-offset: 2px;
  outline-style: double;
  outline-width: 4px;
  outline-color: var(--acсent-color);

  transition: outline 500ms linear;
}
