.box {
  padding: 6px;
  margin-bottom: 48px;
}

.photo {
  outline-style: double;
  outline-width: 2px;
  outline-color: var(--acсent-color);
  outline-offset: 3px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
