body {
  /* margin: 0x; */
  padding: 28px 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: rgb(250, 110, 70);
  --acсent-color: rgb(150, 250, 70);

  --dark-color: rgb(20, 50, 70);
  --light-color: rgb(250, 250, 220);

  --cubic: cubic-bezier(0.23, 1, 0.32, 1);
}
